.weather-data{
    width: auto;
    min-width: 0px;
    max-width: 500px;
    min-height: 0px;
    max-height: 500px;
    height: auto;
    border: 2px solid black;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
}
#input{
    width: 200px;
    height: 30px;
    margin: 20px;
}
h1{
    text-align: center;
}
#btn{
    width: 100px;
    height: 30px;
    margin: 10px;
    background-color: #9fd3c7;
    border: none;
}
body{
    background-color: #385170;
}